<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
</head>
<body>
    <h1>calculator</h1>
        <form action="/calculate" method="post">
         <div><label for="number1">number 1</label></div>
         <div><input type="number" name="number1" id="number1"></div>
         <div><label for="number2">Number 2</label></div>
         <div><input type="number" name="number2" id="number2"></div>
         <div><button type="submit">Calculate</button></div>
    </form>
    <div>
        {{answer}}
    </div>
</body>
</html>